@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the system</h1>
</div>
<div>
    <h3>work with students and abonements  tables</h3>
    <ul>
        <li><a asp-action="Students"> Students</a> </li>
        <li><a asp-action="Abonements">Abonements</a> </li>
        <li><a asp-action="Types">Abonement types</a></li>
    </ul>
</div>
<div>
    <h3>work with styles and teachers tables</h3>
    <ul>
        <li><a asp-action="Styles"> Styles</a> </li>
        <li><a asp-action="Teachers">Teachers</a> </li>
    </ul>
</div>
<div>
    <h3>work with lessons and journal tables</h3>
    <ul>
        <li><a asp-action="Lessons"> Lessons</a> </li>
        <li><a asp-action="Journal">Journal</a> </li>
        <li><a asp-action="Classrooms">Classrooms</a> </li>
    </ul>
</div>